.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 2rem;
}

.feature__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
